.sidebar{
    min-width: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: sticky;
    top: 0;
    bottom: 0;
    padding: 10px 4px;
    left: 0;
    
}
.wrap-sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   gap: 60px;
}
.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
   
    
    
    
}
.logo{
    cursor: pointer;
}


@media (max-width:650px){
    .btns{
        transform: scale(.9);
    }
    .sidebar{
        padding: 10px ;
    }
    .wrap-sidebar{
        gap: 30px;
    }
}

@media (max-width:520px){
    .sidebar{
        z-index: 1111111;
        border-top: 1px solid red;
        flex-direction: row;
        background-color: black;
        max-width: 100%;
        max-height: 20px;
        bottom: 0;
        top: 100%;
        left: 0;
        overflow: hidden;
        align-items: center;
        padding-bottom: 10px;
    }
    .wrap-sidebar{

        
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        
         
      
        align-items: center;
    }
    .btns{
        flex-direction: row;
        width: 100%;
        
        justify-content: space-between;
      
        align-items: center;
       
       
        
    }
    .sidebar-header{
        display: none;
    }
    
}

.sidebar-btns{
    cursor: pointer;
}

.active{
   
    border-bottom: 1px solid red;
}